
body {
    font: 16px Arial, helvetica, sans-serif;
    background: #d2d2c1 url(imagens/fundo.png);
}

#principal {
    width: 900px;
    margin: 0 auto;
}

#menu {
    background-color: #c5c5b2;
    padding: 18px;
    text-align: center;
}

#conteudo {
    background: #e8e8d9;
    padding: 10px;
}

#rodape {
    text-align: center;
    background-color: #c5c5b2;
    padding: 10px;
}

a {
    color: #4b566a ;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
}

.img-campanha {
    border: 10px solid #c3c3ae;
}

h1 {
    color: #828271;
    font-size: 1.2em;
}